# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

infinite
membomb
syscall_attempt
hermes
payload
namespace
test_payload
hermes-api/run_server.sh
hermes-api/workspace
hermes-api/venv
hermes-api/template

*.o
hermes-core/hermes
hermes-core/test_payload
hermes-core/infinite
hermes-core/membomb
hermes-core/payload
hermes-core/syscall_attempt

__pycache__/
*.py[cod]
*$py.class
venv/
.env
hermes-api/workspaces/*
!hermes-api/workspaces/.gitkeeps

# debug information files
*.dwo
